<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div data-th-fragment="payment-method-form(paymentMethods)">
            <div class="row">
                <div class="col">
                    <div class="radio">
                        <label><input type="radio" name="payment" value="0" checked="checked">Credit Card</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="payment" value="1">Bank Transfer</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="payment" value="2">Paypal</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="payment" value="3">Cash on Delivery</label>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>