<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div data-th-fragment="billingToShippingAddress">
            <div class="radio mb-3">
                <label>
                    <input type="checkbox" onclick="setBillingAddressToBeShippingAddress(this.checked);" />
                    Same as Shipping Address
                </label>
            </div>

            <script  type="text/javascript">
                function setBillingAddressToBeShippingAddress(checked) {
                    if (checked) {
                        document.getElementById('billingName').value = document.getElementById('shippingName').value;
                        document.getElementById('billingSurname').value = document.getElementById('shippingSurname').value;
                        document.getElementById('billingAddress').value = document.getElementById('shippingAddress').value;
                        document.getElementById('billingZip').value = document.getElementById('shippingZip').value;
                        document.getElementById('billingCity').value = document.getElementById('shippingCity').value;
                        document.getElementById('billingCountryId').value = document.getElementById('shippingCountryId').value;
                    } else {
                        document.getElementById('billingName').value = "";
                        document.getElementById('billingSurname').value = "";
                        document.getElementById('billingAddress').value = "";
                        document.getElementById('billingZip').value = "";
                        document.getElementById('billingCity').value = "";
                        document.getElementById('billingCountryId').value = "";
                    }
                }
            </script>
        </div>
    </body>
</html>