.shoppingcartwidget .icon-blue {
  color: #0088cc;
}

.shoppingcartwidget .icon-grey {
  color: grey;
}

.shoppingcartwidget i {
  width: 100px;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.shoppingcartwidget .badge:after {
  content: attr(data-count);
  position: absolute;
  background: #ff6600;
  height: 2rem;
  top: 1rem;
  right: 1.5rem;
  width: 2rem;
  text-align: center;
  line-height: 2rem;
  font-size: 1rem;
  border-radius: 50%;
  color: white;
  border: 1px solid #ff6600;
  font-family: sans-serif;
  font-weight: bold;
}