<!DOCTYPE html>
<html>
<head data-th-replace="fragments/Head :: head"></head>
<body>
<nav data-th-replace="fragments/Header :: header">Placeholder for Header
</nav>

<div class="container">
    <div class="row">
        <div class="col">
            <li class="media mb-3" data-th-each="product : ${viewData.content}">
                <form>
                    <img class="mr-3" width="300px" height="400px" data-th-src="|/img/bookcover/${product.productId}.png|"
                         alt="Product Image">
                    <div class="media-body">
                        <h2 class="mt-0" data-th-text="${product.name}"></h2>
                        <div>
                            <p data-th-text="${product.description}"></p>
                        </div>
                        <div class="ml-3 mb-3" data-th-text="|Price:  ${product.price} €|"></div>
                    </div>
                </form>
            </li>
        </div>
    </div>
</div>
</body>
</html>

