<!DOCTYPE html>
<html xmlns:border="http://www.w3.org/1999/xhtml" xmlns:height="http://www.w3.org/1999/xhtml"
      xmlns:background-image="http://www.w3.org/1999/xhtml">
<head data-th-replace="fragments/Head :: head"></head>
<body>
    <nav data-th-replace="fragments/Header :: header">Placeholder for Header
    </nav>

    <div class="container mb-6">
        <div class="form-horizontal">

            <h2 class="mb-3">User Profile</h2>

            <div data-th-replace="fragments/UserProfileMenu :: user-profile-menu('infos')" />

            <form action="/userprofile" method="post">
                <input data-th-replace="fragments/CsfrInputField :: csfr-input-field" />
                <div class="form-horizontal">
                    <h3>Customer Information</h3>

                    <div data-sec-authorize="isAnonymous()"
                         data-th-replace="fragments/CustomerInformationForm :: customer-information-form('true', null)" />

                    <div data-sec-authorize="isAuthenticated()"
                         data-th-replace="fragments/CustomerInformationForm :: customer-information-form('false', ${viewDataCustomer})" />

                    <br />
                    <hr />
                    <br />

                    <h3>Shipping Address</h3>

                    <div data-th-replace="fragments/AddressForm :: address-form('shipping', ${viewDataShippingAddress}, ${viewDataCountries.content} )" />

                    <br />
                    <hr />
                    <br />

                    <h3>Billing Address</h3>

                    <div data-th-replace="fragments/Script :: billingToShippingAddress" />

                    <div data-th-replace="fragments/AddressForm :: address-form('billing', ${viewDataBillingAddress}, ${viewDataCountries.content} )" />

                        <br/>
                        <hr/>
                        <br/>

                        <button type="submit" class="btn btn-primary mb-4">Save Changes</button>
                        <button type="cancel" class="btn btn-thirdlt ml-3 mb-4">Cancel</button>
                    </div>
            </form>

        </div>

    </div>
</body>
<script type="text/javascript">

function SetBilling(checked) {
          if (checked) {
                    document.getElementById('inputNameBill').value = document.getElementById('inputName').value;
                    document.getElementById('inputSurnameBill').value = document.getElementById('inputSurname').value;
                    document.getElementById('inputAddressBill').value = document.getElementById('inputAddress').value;
                    document.getElementById('inputZipBill').value = document.getElementById('inputZip').value;
                    document.getElementById('inputCityBill').value = document.getElementById('inputCity').value;
                    document.getElementById('inputCountryBill').value = document.getElementById('inputCountry').value;
          } else {
                    document.getElementById('inputNameBill').value = '';
                    document.getElementById('inputSurnameBill').value = '';
                    document.getElementById('inputAddressBill').value = '';
                    document.getElementById('inputZipBill').value = '';
                    document.getElementById('inputCityBill').value = '';
                    document.getElementById('inputCountryBill').value = '';
          }
}

</script>
</body>
</html>

